.terrain{
    background-color: forestgreen;
    width: 30vw;
    height: 50vh;
    margin-left: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    position: relative;
    z-index: 2;
=======
}

.sun{
    background-color: yellow;
    width: 3.5vw;
    height: 7vh;
    margin-left: 15rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
>>>>>>> 03c3f3e1a2bb2c724d707c2b36bdd2032c700670
}