
.container {
height: 95vh;
width: 40vw;
background: #0000000e;
margin-top: 1.23rem;
margin-left: 58%;
border-radius: 10px;
border: 1px solid #000;
}
.container-buttons{
display: flex;
flex-wrap: wrap;
}

.container .container-buttons button:hover{
    background-color: rgba(150, 62, 190, 0.171);

} 

.container .container-buttons button{
height: 10rem;
width: 20rem;
background-color: rgba(163, 34, 223, 0.082);
padding: 2px;
margin-top: 1.5rem;
margin-left: 2.6rem;
border-radius: 5px;
justify-content: center;
align-items: center;
cursor: pointer;
}

.container-buttons p{
margin-left: 3rem;
font-size: large;
font-weight: 600;
margin-top: 5px;
}
.container-buttons button img{
width: 4rem;
height: auto;
}

