
.container {
height: 95vh;
width: 40vw;
background: #da00000e;
margin-top: 1.23rem;
margin-right: 20px;
border-radius: 10px;
border: 1px solid #000;

background-color: lightgreen;
}
.container-buttons{
display: flex;
flex-wrap: wrap;
background-color: lightgreen;
}

.container .container-buttons button:hover{
    background-color: rgb(102, 240, 113);
    
} 

.container .container-buttons button{
height: 10rem;
width: 20rem;
position: relative;
z-index: 2;
background-color: rgba(153, 18, 216, 0.082);
padding: 2px;
margin-top: 1.5rem;
margin-left: 2.6rem;
border-radius: 5px;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: rgb(26, 109, 26);
transition: background-color,  0.3s ease-in-out;
}

.container-buttons p{
margin-left: 3rem;
font-size: large;
font-weight: 600;
margin-top: 5px;
font-family: roboto;

background-color: lightgreen;
}
.container-buttons button img{
width: 4rem;
background-color: rgb(26, 109, 26);
height: auto;
transition: background-color,  0.3s ease-in-out;
}

.button-item{
    
    background-color: lightgreen;
}

.container-buttons button:hover img{
    background-color: rgb(102, 240, 113);
}

