body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .sun {
    position: relative;
    width: 10rem;
    height: 10rem;
    z-index: 1;
    background-color: transparent;
  }
  
  .terrain {
    width: 35rem;
    height: 30rem;
    background-color: green; 
    bottom: 5rem;
  }